{{pageTitle}}
<br><br>
<div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>price</th>
            <th>image</th>
            <th>quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td><img src="../assets/images/{{product.image}}" height="50"></td>
            <td>{{product.quantity}}</td>
        </tr>
    </tbody>
    </table>
</div>